fastapi
uvicorn
pydantic
openai
alembic
python-dotenv
pydantic-settings
python-jose
passlib==1.7.4
bcrypt==3.2.0
sqladmin 
asyncpg
aioredis
itsdangerous
apscheduler[asyncio]
sqlalchemy[asyncio]
psycopg2-binary